.contact{
    width: 100%;
    height: 100vh;
    /* background-image: url('../../../../src/images/contact.jpg'); */
    /* background-size: cover; */
    /* z-index: 1; */
}
.contact-cover{
    width: 80%;
    height: auto;
    margin: auto;
}

.contact-heading{
    color: #010d16;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}

.contact-row{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    padding: 20px;
    
}

.contact-form-col{
    flex-basis: 50%;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
}

.contact-form-col:first-child{
    background-color: #fff;
}

.contact-form-col:first-child:hover{
    background-color: #08FFC8;
}
.lionet-form{
    width: 60%;
    margin: auto;
    padding: 30px;
}


.lionet-form input{
    margin-bottom: 20px;
    padding: 10px;
}

.lionet-form textarea{
    margin-bottom: 20px;
    padding: 10px;
}

.lionet-form button{
    margin-bottom: 20px;
    padding: 10px;
    background: salmon;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.lionet-form button:hover{
    margin-bottom: 20px;
    padding: 10px;
    background:#08FFC8;
    color: #204969;
    border-radius: 10px;
    font-size: 17px;
}

.contact-form-col:last-child{
    width: 100%;
    height: auto;
    background-image: url('../../../../src/images/contact.jpg');
    background-size: cover;
    align-self:normal;
    z-index: -10;
}
.contact-description-info{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-form-desc-cover{
    width: 60%;
    height: auto;
    margin-top: 20%;
}

.contact-icon img{
    width: 80px;
    height: 150px;
}

.contact-details-info{
    /* padding: 10px; */
    background-color: #fff;
    align-self: flex-end;
}
.contact-col-title{
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    display: flex;
    color: rgb(240, 92, 76);
    padding-top: 10px;
}

.contact-col-desc{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 16px;
    display:flex;
    color: rgb(31, 40, 49);
} 

/* Add this style to make the iframe responsive */
.contact-col-desc iframe {
    max-width: 100%;
    height: auto;
}