*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom left,#03033D 61%, #fff 50%);
}
.contact-cover{
    width: 80%;
    height: auto;
    margin: auto;
}

.contact-heading{
    color: #fff;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}
 /* Contact info */
.contact-form-desc-cover{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.contact-details-info{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.contact-col-title{
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    display: flex;
    color: #EC255A;
    padding-right: 20px;
    flex-wrap: wrap;
}

.contact-col-desc{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 16px;
    display:flex;
    color: #fff;
    flex-wrap: wrap;
} 

.contact-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

.contact-form-col{
    flex-basis: 50%;
    justify-content: center;
    /* display:flex; */
    flex-direction: column;
    align-self: flex-start;
}

.contact-form-col:first-child{
    background-color: #fff;
}

.lionet-form{
    width: 80%;
    margin: auto;
    padding: 30px;
}

.lionet-form h3{
    padding-bottom: 20px;
    color: #EC255A;
}

.lionet-form input{
    width: 100%;
}

.lionet-form textarea{
    width: 100%;
}


.lionet-form input{
    margin-bottom: 20px;
    padding: 10px;
}

.lionet-form textarea{
    margin-bottom: 20px;
    padding: 10px;
}

.lionet-form button{
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    background: #EC255A;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.lionet-form button:hover{
    margin-bottom: 20px;
    padding: 10px;
    background:#08FFC8;
    color: #204969;
    border-radius: 10px;
    font-size: 17px;
}

.contact-form-col:last-child{
    width: 100%;
    height: auto;
    align-self:normal;
    border-top-right-radius: 50%;
    background-image: url('../../../../src/images/contact-lionet.png');
    background-size: cover;
}

@media(min-width: 401px) and (max-width:800px){
    .contact-form-desc-cover{
        width: 100%;
        padding-top: 10px;
        flex-direction: column;
    }
    .contact-details-info{
        width: 80%;
        padding: 5px;
        flex-wrap: wrap;
    }
    .contact-details-info:last-child p{
        padding-left: 70px;
    }

    .contact-row{
        flex-direction: column;
        flex-wrap: wrap;
        /* flex-flow: column-reverse;
        justify-content: baseline; */
    }

    .contact-form-col{
        width: 100%;
    }
    .contact-form-col:first-child{
        border-radius: 5px;
    }

    .lionet-form{
        width: 100%;
    }
}

@media(max-width: 400px){
    .contact-form-desc-cover{
        width: 100%;
        padding-top: 10px;
        flex-direction: column;
    }
    .contact-details-info{
        width: 80%;
        padding: 5px;
        flex-wrap: wrap;
    }

    .contact-details-info:last-child p{
        padding-left: 80px;
    }
    .contact-col-desc{
        font-size: 14px;
    }

    .contact-row{
        display: block;
    }
}